.media-img {
    max-height: 400px;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    transition: transform 0.2s;

}

.media-img:hover {
    transform: scale(1.1);

}


.media-img-wrapper {
    width: 200px;
    text-align: center;
   
}

.page-selection {
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;

    }
    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}