@page "/orders"
@inject IOrderService OrderService



<h3>Orders</h3>



@if(orders == null)
{
    <span>Hämtar din order...</span>
}

else if(orders.Count <= 0)
{
    <span>Din order är tom.</span>
}
else
{
    foreach (var order in orders)
    {
        <div class="container">
            <div class="image-wrapper">
                <img src="@order.ProductImageUrl" class="image"/>
            </div>
            <div class="details">
                <h4>@order.Product</h4>
                <span>@order.OrderDate</span>
                <br/>
                <a href="orders/@order.Id">Visa mer...</a>
            </div>
            <div class="order-price">@order.TotalPrice :-</div>
        </div>
    }
}




@code {
    List<OrderOverviewDTO> orders = null;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrders();
    }

}
